# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Django and Python
__pycache__/
*.py[cod]
*$py.class

# SQLite database
db.sqlite3
*.sqlite3

# Django migrations
*/migrations/
!*/migrations/__init__.py

# Local settings
*.env
.env.*
.env

# Mock Data
backend/fixtures/
