.header-container {
    width: 100vw;
    height: 10vh;
    border-bottom: 4px solid #A31621;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10rem;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    transition: transform 0.5s ease-in-out;
    z-index: 10;
    background-color: #FCF7F8;
}
.header-container.show {
    transform: translateY(0);
}
.header-container.hide {
    transform: translateY(-100%);
}

.left ul, .right ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: space-evenly;
    gap: 2.5rem;
    font-size: 1.2rem;
    z-index: 11;
}
.right ul {
    gap: 3.2rem;
}
li {
    pointer-events: all;
    cursor: pointer;
}

.logout-popup {
    width: 200px;
    height: 100px;
    position: absolute;
    top: 100%;
    right: 10px;
    padding: 10px;
    background-color: #FCF7F8;
    border: 1px solid #A31621;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 13;
}
.logout-button {
    width: 5vw;
    background-color: #A31621;
    color: #FCF7F8;
    border: none;
    border-radius: 6px;
    padding: 6px 12px;
    cursor: pointer;
}
.logout-button:hover {
    background-color: #c41c2a;
}
.logout-button:active {
    width: 5vw;
    background-color: #A31621;
    color: #FCF7F8;
    border: none;
    border-radius: 6px;
    padding: 6px 12px;
    cursor: pointer;
}

