.home-container {
    width: 100vw;
    height: 200vh;
    margin-top: 10vh;
    overflow-y: auto;
    display: flex;
    flex-direction: row;
    font-family: 'Poppins', sans-serif;
    color: #2b2b2b;
}
h1 {
    font-size: 2rem;
    font-weight: 500;
}
.filter-section {
    width: 25%;
    border: 1px solid black;
    padding: 0.5rem 2rem;
    margin: 0;
}
.filter-clear-btn {
    all: unset;
    height: auto;
    width: auto;
    margin-bottom: 1vh;
    border-bottom: 1px dotted #2b2b2b;
}
.filter-clear-btn:active{
    all: unset;
    height: auto;
    width: auto;
    color: #a31621;
    margin-bottom: 1vh;
    border-bottom: 1px outset #a31621;
}
.product-section {
    width: 75%;
    border: 1px solid black;

}