.home-container {
    width: 100vw;
    height: 90vh;
    margin-top: 10vh;
    overflow-y: hidden;
    display: flex;
    flex-direction: row;
    font-family: 'Poppins', sans-serif;
    color: #2b2b2b;
    background-color: #fcf7f8;
}
h1 {
    font-size: 1.5rem;
    font-weight: 600;
}
.filter-section {
    width: 15%;
    padding: 0.5rem 2rem;
    margin: 0;
    background-color: #f5eff1;
}
.filter-clear-btn {
    all: unset;
    height: auto;
    width: auto;
    margin-bottom: 1vh;
    border-bottom: 1px dotted #2b2b2b;
    font-size: 0.9rem;
    color: #6a6a6a;
}
.filter-clear-btn:active{
    all: unset;
    height: auto;
    width: auto;
    color: #a31621;
    margin-bottom: 1vh;
    border: 1px outset #a31621;
    font-size: 0.9rem;
}
.filter-list {
    width: 100%;
    margin: 0;
    margin-top: 0.6rem;
    padding: 0;
    text-align: left;
}
.filter-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
}
.filter-list li {
    margin-bottom: 0.5rem;
}
.filter-list label {
    cursor: pointer;
}
.filter-list li label:hover {
    color: #a31621;
}
.apply-filters {
    margin-top: 2rem;
    cursor: pointer;
    background-color: #a31621;
    color: #fcf7f8;
    font-weight: bold;
    border-radius: 13px;
    text-align: center;
    padding: 8px;
    width: 150px;
}
.apply-filters:hover {
    cursor: pointer;
    background-color: #af2631;
    color: #fcf7f8;
    font-weight: bold;
    border-radius: 13px;
    text-align: center;
    padding: 3px;
    width: 150px;
}
.apply-filters:active {
    cursor: pointer;
    background-color: #d33b48;
    color: #fcf7f8;
    font-weight: bold;
    border-radius: 13px;
    text-align: center;
    padding: 3px;
    width: 150px;
}
.product-section {
    width: 85%;
    height: 90vh;
    position: relative;
    z-index: 1;
    margin-bottom: 5vh;
    overflow: hidden;
    overflow-y: auto;
}
.sort-section {
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.4rem;
    margin: 2rem;
    margin-bottom: 0.7rem;
    cursor: default;
}
.sort-button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border: 1px solid black;
    padding: 0.4rem 0.6rem;
    border-radius: 4px;
}
#sort {
    border: none;
    outline: none;
    background: transparent;
    font-size: 1rem;
    font-weight: bold;
    color: #2b2b2b;
    text-align: center;
    cursor: pointer;
}