.product-grid {
    /* border: 2px solid black; */
    height: auto;
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    padding: 2rem;
    padding-top: 0;
}
.product-card {
    overflow: hidden;
    transition: transform 0.2s ease;
}
.product-card:hover {
    transform: scale(1.02);
}
.product-img {
    width: 100%;
    aspect-ratio: 4 / 3;
    background-color: black;
    border: 1px solid black;
}
.product-info {
    margin-left: 0.4rem;
    text-align: start;
}
.product-info h3 {
    font-size: 1rem;
    margin: 0.5rem 0;
    color: #333;
}
.product-info p {
    font-size: 0.9rem;
    color: #666;
}
