.product-grid {
    /* border: 2px solid black; */
    height: auto;
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    padding: 2rem;
    padding-top: 0;
}
.product-card {
    overflow: hidden;
    transition: transform 0.2s ease;
}
.product-card:hover {
    transform: scale(1.02);
    border-radius: 5px;
    box-shadow: #00000018 4px 5px 6px;
}
.product-img {
    width: 100%;
    aspect-ratio: 4 / 3;
    overflow: hidden;
}
.product-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    box-shadow: #000 2px 10px 4px;
}
.discount-badge {
    position: absolute;
    top: 8px;
    right: 8px;
    background-color: green;
    color: #fff;
    font-size: 0.8rem;
    font-weight: 500;
    padding: 2px 6px;
    border-radius: 4px;
    z-index: 2;
}
.product-card {
    position: relative; /* needed for badge positioning */
}
.product-info {
    margin-left: 0.7rem;
    margin-right: 0.7rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;  /* vertically aligns everything */
    text-align: start;
}

.product-info h3,
.product-info .original-price,
.product-info .discounted-price {
    font-size: 1rem; /* same size for all */
    margin: 0;
}

.product-info .discounted-price {
    color: #999;
    text-decoration: line-through;
    margin-left: 0.5rem;
}

.product-info .original-price {
    color: #d32f2f;
    font-weight: 600;
    margin-left: 0.5rem;
    font-size: 1.2rem;
}
