.sidebar-container li {
    list-style: none;
    text-align: left;
    font-size: 1.1rem;
    font-weight: bold;
    height: 30px;
    width: 100%;
    margin: 30px 0;
}

.sidebar-container li i {
    margin-right: 1.2rem;
}

/* Sidebar-only hover for list items */
.sidebar-container li:hover {
    cursor: pointer;
    color: rgb(229, 178, 178);
    transition: 0.2s;
}

.sidebar-container li:active {
    color: rgb(208, 142, 142);
}
.sidebar-container li.active {
    color: rgb(234, 142, 142);
}

.sidebar-container ul {
    width: 100%;
    padding: 0 15px;
    margin: 0;
    box-sizing: border-box;
}

.sidebar {
    width: 100%;
    height: 100vh;
}

.sidebar-header {
    width: 100%;
    height: 10%;
    padding: 0;
    padding-bottom: 10px;
    margin: 0;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 2px rgb(229, 178, 178) dashed;
}
.sidebar-header img {
    height: 100%;
}

.sidebar-content {
    width: 100%;
    height: 85%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    text-align: left;
    /* border: 1px solid white; */
}

 @media (max-width: 768px) {
     .sidebar-container li {
         margin: 16px 0;
         font-size: 1rem;
         height: auto;
     }
     .sidebar {
         height: auto;
         min-height: 100vh;
     }
 }

